<server description="Open Liberty REST-0 example">

  <featureManager>
      <feature>jaxrs-2.1</feature>
      <feature>jsonp-1.1</feature>
      <feature>cdi-2.0</feature>
      <feature>mpConfig-1.4</feature>
      <!-- Needed for Arquillian testing -->
      <feature>localConnector-1.0</feature>
  </featureManager>


 <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                id="defaultHttpEndpoint" host="*" />

  <webApplication name="ConfigMapTest" location="${project.artifactId}.war" contextRoot="${app.context.root}"/>

</server>
